#menu3{
  height:100%;
  width: 100%;
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.4) 0%,  rgba(216, 216, 216, 0.4) 100%),url(../img/fondo-contacto.jpg);
  background-size: cover;
  display: flex;
  font-family:'Montserrat', sans-serif ;
}/* Contactos */

form{
  margin:0% auto;
  background-color: rgb(177, 177, 177,0);
  width: 90%;
  max-width: 600px;
  height: fit-content;
  /* border-radius: 1em; */
  padding: 3.5em 1.5em;
  /* margin: auto; */
}
.form-container{
  width: 100%;
  display: grid;
  /* gap: 0.9em; */
  margin: 2% 0% 1% 0%;
  grid-auto-columns: 100%;
}

.form-title{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .3em;
}
.form-input{
  font-family:inherit;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  /* border: 1px solid #000000; */
  background-color: rgb(255, 255, 255,0.9);
  border-radius: 0.2em;
}

.form-cta{
  font-family:inherit;
  background-color:rgb(77, 175, 77);
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;
  margin: 3% 0%;
}

.form-input-mensaje{
  resize: none;
  padding: 1.8em 1em;
  /* margin-bottom: .5em; */
}
 label{
  display: block;
  font-weight: 600;
  margin: 2% 0%;
  font-size: 1rem;
  font-family: inherit;
 }

 /*Validacion de formulario*/

.formulario-input-error {
  font-size: 13px;
  margin:1% 4% 2% 4%;
  color: rgb(233, 18, 18);
  /*El resultado es que el elemento queda escondido y el espacio que debería ocupar colapsado*/
  display: none;
  font-weight: 700;
}

.formulario-input-error-activo {
  /*Se muestra como un bloque*/
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  color: white;
  /*El resultado es que el elemento queda escondido y el espacio que debería ocupar colapsado*/
  display: none;
}

.formulario-mensaje-exito-activo {
  /*Se muestra como un bloque*/
  display: block;
  color: black;
  background-color: rgb(253, 255, 159);
  text-align: center;
  font-size: 16px;
  margin: 1%;
padding: 3%;
font-weight: 700;

  font-family: 'Montserrat' sans-serif;
}

.form-control-error {
  border: 1px solid rgb(255, 0, 0);
}