#inicio {
  height:100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(216, 216, 216, 0.4) 100%), url(../img/fondo.jpg);
  background-size:cover;

}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

/* #pilar {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
} */

.datos {
  width: 50%;
  float: left;
  padding: 2%;
  margin: 2%;
}

.foto-inicio {
  width: 49vh;
  margin: 4% 8%;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
}

.informacion {
  background-color: rgb(255, 255, 255);
  width: 80vh;
  float: left;
  padding: 4% 5% 4% 10%;
  font-size: 18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

.informacion h2 {
  margin: 3% 0%;
  border-bottom: 1px solid black;
}

#datos-pi li {
  font-family: inherit;
  font-size: 18px;
  display: inline-block;
  margin: 3% 2%;
}

.titulo2 {
  visibility: hidden;
  height: 0;
}

/*El tamaño de una tablet es 768px*/
/*El tamaño de un smartphone es 320px*/
@media(max-width: 768px) {
  #inicio {
    background-color: rgb(114, 0, 0);
    height:100%;
  width: 100%;
    padding: 4%;
  }

  #inicio img {
    width: 40%;
    display: flex;
float: none;
    margin: 2% auto;
  }

  .datos {
    width: 100%;
    padding: 1%;
    margin: 2% 0%;
    padding: 2%;
    background-color: rgb(128, 255, 0,0);
    float: left;
  }

  #datos-pi li {
    font-family: inherit;
    font-size: 17px;
    display: inline-block;

  }

  .informacion {
    background-color: rgba(255, 255, 255, 0.6);
    width: auto;
    padding: 2% 5% 4% 5%;
    font-size: 24px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
border-radius: 10px;
  
    box-shadow: none;
    margin: 4%;
  }

  .informacion p {
    font-size: 15px;
  }

  .informacion h2 {
    font-size: 18px;
  }


  h3 {
    font-size: 20px;
  }

  .titulo {
    visibility: collapse;
    height: 1px;
  }

  .titulo2 {
    visibility: visible;
    height: auto;

  }

  /* .titulo2 #pilar {

    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  } */

  .titulo2 h3 {
    margin-left: 2%;
  }

}

@media(max-width: 320px) {
  #inicio {
    background-color: rgb(114, 0, 0);
    height:100%;
  width: 100%;
  }

  #inicio img {
    width: 50%;
    display: flex;
    margin: 2% auto;
    float: none;
  }

  .datos {
    width: 100%;
    padding: 1%;
    margin: 2% 0%;
    padding: 2%;
    background-color: rgb(128, 255, 0,0);
  }

  #datos-pi li {
    font-family: inherit;
    font-size: 12px;
    display: inline-block;

  }

  .informacion {
    background-color: rgba(255, 255, 255, 0.6);
    width: auto;
    padding: 4%;
    font-size: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: none;
    margin: 4%;
  }

  .informacion p {
    font-size: 12px;
  }

  .informacion h2 {
    font-size: 15px;
  }


  h3 {
    font-size: 20px;
  }

  .titulo {
    visibility: collapse;
    height: 1px;
  }

  .titulo2 {
    visibility: visible;
    height: auto;

  }

  /* .titulo2 #pilar {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  } */

  .titulo2 h3 {
    margin-left: 2%;
  }

}