* {
  margin: 0;
  /*El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no se sume posteriormente.*/
  box-sizing: border-box;
}

a {
  /*Permite establecer el ancho y alto de un elemento*/
  display: inline-block;
  /*Quitar el subrayado de los hipervinculos*/
  text-decoration: none;
}



header{
  /*background-color: black;*/
  /*Verticalmente 15px y horizontalmente 0px*/
  padding: 15px 0;
  /*Elemento fijo en el html*/
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0);
  width: 100%;
  
}

header .container {
  /*Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos
    en este caso es el elemento a y el nav*/
  display: flex;
  /*Distribuye el espacio entre los elementos flex en el eje x, distribuye los items uniformemente, el primer item al inicio, el último al final*/
  justify-content: space-between;
}



header .container nav a {
    color: rgb(255, 255, 255);
    /*Quitar el subrayado de los hipervinculos*/
    text-decoration: none;
    /* 0px verticalmente y 15px horizontalmente*/
    margin: 0 15px;
}
/* 
.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
 }*/

header .container .hamb {
  /*No se muestra el elemento*/
  display: none;
}




/*El tamaño de una tablet es 768px*/
/*El tamaño de un smartphone es 320px*/
@media(max-width: 768px) {

  body {
    font-size: 15px;
  }
header{
  float: left;
}
  header .container nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    top:0;
    left: 0;
    /*Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos
    en este caso es el elemento a y el nav*/
    display: flex;
    /*Convierte las filas en columnas*/
    flex-direction: column;
    /*Cualquier propiedad que se modifique va a ocurrir la transicion*/
    transition: all 0.4s ease;
    /*Trasladar al eje x*/
    transform: translateX(100%);
  }

  header .container nav.open {
    /* Se muestra el menu */
    transform: translateX(0) !important;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
  }

  header .container nav a {
    font-size: 20px;
    margin: 15px;
    color: black;
  }

  /*Solo se ve para moviles*/
  header .container .hamb {
    display: block;
    font-size: 20px;
    color: rgb(167, 167, 167);
    position: relative;
    margin-right: 3%;
  }

}