* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
}
html, body{
  height:100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.logo{
  color: white;
  font-family: 'Abril Fatface', cursive;
  margin: 1%;
  font-size: 1.3em;
}

/* -----------Galeria--------- */

#menu2{
  padding: 2%;
  margin-top: 2%;
  text-align: center;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
}

.img-galeria{
width: 100%;
}

.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column{
  flex: 25%;
  padding: 5px;
}

.column img{
  margin-top: 5px;
}

@media(max-width:360px){
  .column{
    flex: 100%;
  }
}
@media(max-width:760px){
  .column{
    flex: 50%;
  }
}

/* ----------Datos-------------- */

#menu1{

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(216, 216, 216, 0.4) 100%), url(/img/fondo-da.jpg);
  background-size: cover;
  height:100%;
  width: 100%;
}
#menu1 .fondo{
  background-color: rgb(168, 141, 120,0);
  padding: 2% 0% ;
}

#menu1 .fondo .info{
 
  background-color: white;
  width: 50%;
  padding: 2%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 10px 10px 20px black;
}
#menu1 .fondo2{
  background-color: rgb(255, 255, 255,0);
  padding: 2% 0% ;
}
#menu1 .fondo2 .lado-der{

  margin: 0% 0% 0% 50%;
   border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; 
  background-color: rgb(48, 102, 38);
  color: white;
  width: 50%;
  padding: 2%;
  box-shadow: 10px 10px 20px black;
}
 ul li{
  list-style: none;
  font-size: 19px;
}
strong{
  font-size: 21px;
  font-family: 'Montserrat' sans-serif;
}

@media (max-width:768px){


  #menu1 .fondo .info{
 
   width: 80%;
   padding: 2%;
   font-size: 12px;
 }
  strong{
   font-size: 13px;
 }
 
 #menu1 h2{
   font-size: 14px;
 }
 
 #menu1 .fondo2 .lado-der{
   margin: 0% 0% 0% 20%;
   width: 80%;
   padding: 2%;
 }
 
 ul li{
   font-size: 15px;
 }
 } 


 @media (max-width:320px){


  #menu1 .fondo .info{
    background-color: rgb(255, 255, 255,0.6);
   width: 100%;
   padding: 1.2rem;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
 }
  strong{
   font-size: 13px;
 }
 
 #menu1 h2{
   font-size: 14px;
 }
 
 #menu1 .fondo2 .lado-der{
   margin: 0%;
   width: 100%;
   padding: 2%;
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px; 
   background-color: rgb(48, 102, 38,0.6);
   padding: 1.2rem;
 }
 
 ul li{
   font-size: 15px;
 }
 } 
